body {
background-image: url(http://www.planwallpaper.com/static/images/518071-background-hd_xO1TwRc.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}